a{
 color:white;

 text-decoration: none;
}
nav{
    text-align: center;
}

img{
   float: left;

}
div{
    display:block;
}
footer{
    display: block;
}


hr{
  border-color: black;
}
a.news{
  text-align: center;
  text-decoration: none;
}

.description{
  margin: 5px;
  padding: 5px;
  border: 5px;
  background-color:black;
  color:white;


}
.show-more{
  text-decoration: none;
}
h1{
  color:white;
}
p{
  text-align: center;
  color: black;
}
body{
  background: linear-gradient(to bottom, #993399 0%, #ffff99 82%);
}

#area2:hover {
  opacity: 0.2;
}
