<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="resources/Brain.css"></link>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="resources/Brain.js"></script>
    <title> {{title}} </title>

  </head>
  <body>
    <div id= "references">
       <h1> References </h1>
    </div>
    <body style="background-color:grey;">
<nav style=text-align:center;>
  <a href="Brain.html">HOME</a> |
  <a href="Info.html">INFO</a> |
  <a href="news.html">NEWS</a> |
  <a href="meet_the_creators.html">MEET THE CREATORS</a> |
  <a href="references.html">REFERENCES</a>
</nav>
<h1>References</h1>
</body>
</html>
