<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <form align='center'  method="post">
         <label> News Article Title: </label> <br>
         <input type="text" name= "news_title"/> <br>
         <label> Brief Preview of the Article: </label> <br>
         <input type="text" name= "news_preview"/><br>
         <label> Link to Article: <label><br>
           <input type="text" name= "news_link"><br>
         <input type="submit" value="Post to News Page"/>
  </form>
</body>
<footer>


</body>
</html>
