<!DOCTYPE html>
<html>
<head>
  <link rel = 'stylesheet' href = 'resources/Brain.css'>
</head>
  <form align='center'  method="post">
         <label class = 'comment_style'> News Article Title: </label> <br>
         <input type="text" name= "news_title"/> <br>
         <label class = 'comment_style'> Brief Preview of the Article: </label> <br>
         <textarea type="textarea" name= "news_preview"></textarea><br>
         <label class = 'comment_style'> Link to Article: <label><br>
           <input type="text" name= "news_link"><br>
         <input class = 'comment_style' type="submit" value="Post to News Page">
<footer>


</body>
</html>
