<!DOCTYPE html>
<html>
<head>
<link rel = 'stylesheet' href = 'resources/Brain.css'>
</head>
<body style="background: linear-gradient(to bottom, #993399 0%, #ffff99 82%);">
<nav>
  <a href="brain?page_id=0">HOME</a> |
  <a href="brain?page_id=1">INFO</a> |
  <a href="brain?page_id=2">NEWS</a> |
  <a href="brain?page_id=3">MEET THE CREATORS</a> |
  <a href="brain?page_id=4">REFERENCES</a>
</nav>
<div class = 'content'>
  <a class = 'news' href = 'http://www.huffingtonpost.com/entry/what-exactly-is-brain-freeze-and-how-do-i-make-it-stop_us_596d0ff6e4b07f87578e6b10?utm_hp_ref=brain'><h2>What Exactly Is Brain Freeze And How Do I Make It Stop?</h2></a>
  <!--<p>It happens to just about everyone: you take a delicious first lick from your ice cream or long sip of a cold slushie, and then bam — your head begins to pound, or pain radiates all through your skull. The pain continues as you shut your eyes and wince, and then it subsides, letting you to go back to enjoying your cold treat again...<span class='show-more'><a href = 'http://www.huffingtonpost.com/entry/what-exactly-is-brain-freeze-and-how-do-i-make-it-stop_us_596d0ff6e4b07f87578e6b10?utm_hp_ref=brain'>READ MORE</a></span>...</p>-->
  <hr>
  <a class = 'news'href = 'https://www.forbes.com/sites/daviddisalvo/2016/01/30/study-your-brains-capacity-is-10-times-greater-than-previously-thought/#3e880341528e'><h2>Your Brain's Capacity Is 10 Times Greater Than Previously Thought</h2></a>
  <hr>
  <a class = 'news' href = 'http://neurosciencenews.com/order-certinty-orbiotofrontal-cortex-7043/'><h2>Changes In Brain Regions May Explain Why Some Prefer Certainty And Order</h2></a>
  <hr>
  <a class = 'news' href = 'https://www.newscientist.com/article/2141467-your-eardrums-move-in-sync-with-your-eyes-but-we-dont-know-why/'><h2>Your Eardrums Move In Sync With Your Eyes But We Don’t Know Why</h2></a>
  <hr>
  <a class = 'news' href = 'http://discovermagazine.com/2017/jul-aug/how-we-decide'><h2>Everything Worth Knowing About</h2></a>
  <hr>
  <a class = 'news' href = 'https://www.scientificamerican.com/article/sleeps-secret-repairs/'><h2>The Brain May Disassemble Itself In Sleep</h2></a>
  <hr>
</div>
<footer>
    <p style = 'text-align: center;color: black'><em>CSSI Production</em></p>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src ="resources/Brain.js"></script>

</body>
</html>
